 

  
  @keyframes glowing {
    0% {
      text-shadow: 0 0 10px rgba(226, 34, 207, 0.7); /* Initial shadow */
    }
    50% {
      text-shadow: 0 0 20px rgb(12, 211, 19); /* Increased glow */
    }
    100% {
      text-shadow: 0 0 10px rgba(0, 255, 85, 0.7); /* Return to initial shadow */
    }
  }
  
  .text-animation {
    color: black; /* Set the text color */
    animation: glowing 2s infinite; /* Apply the 'glowing' animation to the text with 2 seconds duration and repeat infinitely */
  }
  /* CSS styles */
